<!--<div class="page-header">-->
<!--  <h3>Welcome</h3>-->
<!--</div>-->

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="https://eighttofiveandinbetween.files.wordpress.com/2011/08/working_girl_desk_main.jpeg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Matcharoo</h1>
          <p>This is an initial prototype of a job matching site created for the App Development course at Booth. The long term vision for this site is to create better matches between people and jobs by creating job descriptions and matching algorithms that account for skills (aka superpowers), preferences and cultural fit of candidates, and the real demands of a given job. The short term problem this project attempts to solve is described below for the different types of users.</p>
          <!--<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <!--<div class="card text-white bg-secondary my-4 text-center">-->
      <!--  <div class="card-body">-->
      <!--    <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>-->
      <!--  </div>-->
      <!--</div>-->

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">For Candidates</h2>
              <p class="card-text">Finding the right job is a demanding task and requires a clear definition of a candidate's superpowers and preferences. In this version of Matcharoo, you can sign up as a candidate and add superpowers to your profile, along with a story about that superpower. You can thus keep track of your superpowers and pull these stories when submitting a job application or preparing for an interview. You can similarly write notes about why you are a compelling candidate for a given industry, and you can use the Preferences section to stay clear about what is most important to you about your search. You can also decide which Job Types are a good match for your skill set. In the next version of Matcharoo, you will be able to see recommended jobs based on this information, and can apply to the jobs from within the app.</p>
            </div>
            <!--<div class="card-footer">-->
            <!--  <a href="#" class="btn btn-primary">More Info</a>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">For Recruiters</h2>
              <p class="card-text">As a recruiter you can create job postings and keep track of associated information.</p>
            </div>
            <!--<div class="card-footer">-->
            <!--  <a href="#" class="btn btn-primary">More Info</a>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">For Companies</h2>
              <p class="card-text">In the future Matcharoo will provide valuable information to companies about the labor market.</p>
            </div>
            <!--<div class="card-footer">-->
            <!--  <a href="#" class="btn btn-primary">More Info</a>-->
            <!--</div>-->
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Matcharoo 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>