<!-- Validation failure messages -->
<% if @match.errors.any? %>
  <% @match.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Match</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_match" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for candidate_id -->
      <div class="form-group">
        <label for="candidate_id" class="control-label">
          Candidate
        </label>

        <input type="text" id="candidate_id" name="candidate_id" placeholder="Candidate" class="form-control" value="<%= @match.candidate_id %>">
      </div>

      <!-- Label and input for job_id -->
      <div class="form-group">
        <label for="job_id" class="control-label">
          Job
        </label>

        <input type="text" id="job_id" name="job_id" placeholder="Job" class="form-control" value="<%= @match.job_id %>">
      </div>

      <button class="btn btn-success">
        Create Match
      </button>
      or
      <a href="/matches">Cancel</a>
    </form>
  </div>
</div>
